<div class="container">

  <h2>Add Content</h2>

  <%= form_for @content do |f| %>
    <div class="col-md-8 form-group">
      <%= f.label :title %>
      <div>
        <%= f.text_field :title, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-8 form-group">
      <%= f.label :content %>
      <div>
        <%= f.text_area :content, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-8 form-group">
      <%= f.label :url %>
      <div>
        <%= f.text_field :url, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-8 form-group">
      <div class="col-md-4 control-label">
        <%= f.submit "Submit Content", class: "btn btn-defualt btn-primary" %>
      </div>
    </div>
  <% end %>

</div>
