<div class="container">
  <h1>Sign Up</h1>

  <%= form_for @user do |f| %>
    <div class="form-group col-md-8">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group col-md-8">
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>
    </div>
    <div class="form-group col-md-8">
      <%= f.label :location %>
      <%= f.text_field :location, class: "form-control" %>
    </div>
    <div class="form-group col-md-8">
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>
    </div>
    <div class="form-group col-md-8">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>
    <div class="form-group col-md-8">
      <%= f.collection_select :role, User::ROLES, :to_s, :humanize %>
      <% if :role ==  "Admin" %>
        <%= f.label :ADMINCODE %>
        <%= f.number_field :ADMINCODE, class: "form-control" %>
      <% end %>
    </div>
    <div class="form-group col-md-8">
      <%= f.submit "Sign Up", class: "btn btn-defualt btn-primary" %>
    </div>
  <% end %>
</div>
